<header>
  <img
    src="profile-pic.jpg"
    height="130px"
    width="130px"
    alt="profile-pic"
    loading="eager"
  />
  <h1>Moisés Solares</h1>
</header>

<aside>
  <div class="container">
    <p>VueJs | Angular | NodeJs | Javascript | Typescript</p>
    <p>Salvador, Bahia, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software. Atualmente tenho estudado
      sobre o backend utilizando o Golang pra ter conhecimento de todo o fluxo
      dentro do desenvolvimento web. Na parte do front end onde eu estou, gosto
      bastante de ajudar meus colegas para que eles evoluam e melhorem as
      habilidades para melhorar a performance da equipe tornando eles em
      profissionais com o trabalho em equipe e dinamismo para fluir melhor as
      atividades atribuidas ao time onde estiverem.
    </p>
    <nav>
      <ul>
        <li>
          <a href="cv-moises.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a
            href="www.linkedin.com/in/moisés-solares-53b690272"
            target="_blank"
            class="btn btn-secondary"
          >
            Linkedin
          </a>
        </li>
        <li>
          <a
            href="https://github.com/iS0lares"
            target="_blank"
            class="btn btn-third"
          >
            Github
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="icons/whatsapp.svg"
          alt="Ícone para contato do whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5571986646031&text=01%C3%A1%20Moisés,%20preciso%20de%20um%20job!"
            target="_blank"
            ><strong>Envie uma menssagem para: </strong>
            <p>Whatsapp: (71) 9 8664-6031</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="icons/mail.svg"
          alt="Ícone para contato do whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:moisessolaressantos@gmail.com" target="_blank"
            ><strong>Envie um e-mail para: </strong>
            <p>moisessolaressantos&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
